@import "_variables.scss";
@import "_header.scss";
@import "_accordeon.scss";
@import "_form.scss";
@import "_main.scss";

html {
	box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: #000;
  letter-spacing: 1px;
  min-width: 320px;
  font-size: 1rem;
}

 @font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/RobotoCondensed-Regular.ttf");
    font-display: swap;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}